<div class="form-container" style="width:400px">
  <div class="form">
    <h3>NEW DRANK</h3>
    <br>
    <%= render 'form' %>

    <%= link_to 'Cancel', root_path, class: 'btn btn-danger'%>
  </div>
</div>
