<div class="navbar-wagon">
  <%= link_to "Home", root_path, class: "navbar-wagon-item navbar-wagon-link" %>
  <%= link_to "Browse All Dranks", cocktails_path, class: "navbar-wagon-item navbar-wagon-link" %>
  <%= link_to "Add Dranks", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-link" %>
</div>
