<div class="container" style="width:500px">
<h1>Add Ingredients</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient_id, collection: Ingredient.all%>
  <%= f.submit %>
<% end %>
</div>
