<div class="banner-container">
  <div class="banner-content"><h1>Mister Cocktail <br>is here to help </h1> <br>
  <%= link_to 'Browse Cocktails', cocktails_path, class: 'btn btn-danger' %>
  </div>
</div>
